;; -*- mode: Lisp; -*-

(setq prj-version "0.4")

(setq prj-config
      '(("project-name" . "ItATextbookLearning")))

(setq prj-tools
      '(("Make" "make" "f9")
	("Clean" "make clean" "C-f9")
	("Run" "echo run what" "f8")
	("Stop" "-e eproject-killtool" "C-f8")
	("---")
	("Configure" "./configure")
	("---")
	("Explore Project" "nautilus --browser `pwd` &")
	("XTerm In Project" "xterm &")))

(setq prj-files
      '(("drawTreeInTerminal.h" 1 1)
	("rbtree-dy.cpp" 38 104)
	("cutrod.cpp" 39 74)
	("lcs.cpp" 1 74)))

(setq prj-curfile "lcs.cpp")

(setq prj-functions nil)

